body {
    font-family: Arial, sans-serif;
    background: #f3f3f3;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

button {
    margin-top: 15px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}
